.floatsky {
  float: left;
}
.active {
  color: blue !important;
}
.nav-size {
  width: 100vw !important;
}
.main-wrapper {
  margin: 20px;
}
.mr-2 {
  margin-right: 10px;
}
.center {
  text-align: center;
}